<?php

/** SDK variables */
$spidClientConfig = [
    VGS_Client::CLIENT_ID          => "<YOUR CLIENT ID>",
    VGS_Client::CLIENT_SECRET      => "<YOUR CLIENT SECRET>",
    VGS_Client::CLIENT_SIGN_SECRET => "<YOUR CLIENT SIGN SECRET>",
    VGS_Client::STAGING_DOMAIN     => "identity-pre.schibsted.com",
    VGS_Client::HTTPS              => true,
    VGS_Client::REDIRECT_URI       => "http://localhost:8181/",
    VGS_Client::COOKIE             => false,
    VGS_Client::API_VERSION        => 2,
    VGS_Client::PRODUCTION         => false
];
